header {
  background: linear-gradient(#000000, rgb(0, 0, 0), rgb(0, 0, 0));
}
ul {
  list-style: none;
  marin: 0;
  padding: 10px;
}

a {
  font-size: 30px;
  padding: 40px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #6aff2a;
  text-decoration: none;
}

li {
  display: inline;
}
